.container {
  padding: 0 50px;
  @media (--s) {
    padding: 0 20px;
  }
  color: var(--fontColor);

  .control {
    display: flex;
    justify-content: space-between;
    .quickstart {
      display: flex;
      align-items: center;
      > span {
        margin-top: 4px;
      }
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  .title {
    display: flex;
    color: var(--blue);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    margin: 50px var(--xl-gutter);
    @media (--m) {
      font-size: 28px;
    }
    @media (--s) {
      font-size: 20px;
      svg {
        width: 55px !important;
      }
    }
    .logo {
      margin-right: var(--gutter);
    }
    svg {
      width: 68px;
      min-width: 55px;
      height: auto
    }
  }
  .highlight {
    padding: 2px 5px;
    background: var(--dustygray);
    color: white;
    border-radius: 5px;
  }
  .highlight.blue {
    background: var(--mainColor);
  }
}

.mainProcess {
  position: relative;
  padding: 30px;
  .placeholder {
    height: 15px;
  }
  .addr {
    label {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .share {
    margin-top: 40px;
    .promo {
      font-size: 14px;
      text-decoration: underline;
      font-family: var(--iconFont);
      color: var(--mainColor);
      text-align: left;
    }
    .urlInput {
      margin-top: 10px;
    }
  }
  .apply {
    .applyBtn {
      margin: 20px auto 0;
      font-weight: 500;
      font-family: var(--iconFont);
    }
  }
}

.qaSection {
  margin-bottom: 60px;
  .qa {
    .q {
      font-weight: 500;
      margin: 10px 0 5px;
    }
    .a {
      margin-left: 12px;
      .sns {
        font-weight: 500;
      }
      li {
        margin-bottom: 10px;
      }
    }
  }
}

.issue {
  position: absolute;
  bottom: -10px;
  right: 0;
  > span {
    display: inline-block;
    margin-left: 5px;
    transform: translateY(-5px);
  }
  svg {
    width: 20px;
    height: auto;
  }
}
.toggler {
  position: absolute;
  bottom: -10px;
  left: 0;
  cursor: pointer;
  svg {
    transition: all .3s;
    margin-left: 5px;
    margin-bottom: 2px;
  }
}
.toggler.show {
  svg {
    transform: rotateZ(180deg);
  }
}
.qaWrapper {
  margin-top: 5px;
  width: 100%;
  transition: all .3s;
  transform: translateY(-10px);
  overflow: hidden;
  height: 0;
  opacity: 0;
}
.qaWrapper.show {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}
